:root {
    /* principais */
    --color-green: #BFF205;
    --color-primary: #A66C24;
    --color-secondary: #F2BFAC;
    --color-dark: #402A0F;
    --color-background: #734B1A;
    /* detalhes: */
    --color-white: #ffffff;
    --color-black: #000000;
}

html, body {
    height: 100vh;
    width: auto;
}

body {
    background-color: var(--color-background);display: flex;
    align-items: center;
    justify-content: center;
}

main {
     background-color: var(--color-primary);
     max-width: 700px;
     width: auto;
     margin: auto;
     padding: 10px;
     border-radius: 1rem;
}

main header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main header .logo {
    max-width: 30rem;
}

main .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

main .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    background-color: var(--color-secondary);
    border-radius: 1rem;
    transition: 2s;
    margin: 0 0.2rem 0 0.2rem;
}

main .introduction p {
    margin: 1rem;
    display: flex;
    text-align: center;
    justify-self: center;
}

main .introduction .images:hover {
    border-bottom-color: var(--color-white);
    border-bottom: 2px;
}

body,
input,
button,
textarea {
    font-family: Inconsolata;
    /* https://fonts.google.com/specimen/Inconsolata#standard-styles */
}